<div class="home">
	<h1>How Long To Watch?</h1>

	<span class="searchbox">
		<form class="navbar-form navbar-left" role="search">
			<div class="centered-controls">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Trakt username">
				</div>
				<input type="submit" class="form-control btn btn-default" value="Search" />
			</div>
		</form>
	</span>

	<div class="watchlist">
		<ul>
			<li ng-repeat="show in tempData track by $index">
				<div class="show-item">
					<div class="thumbnail">
						<img ng-src="{{show.image_uri}}" />
					</div>

					<div class="details">
						<h3>{{show.id}}</h3>
						<p><strong>Total duration: </strong>{{show.episode_duration * show.episode_count}} minutes</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>