<div class="home">
	<h1>How Long To Watch?</h1>

	<span class="searchbox">
		<form class="navbar-form navbar-left" role="search">
			<div class="centered-controls">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Trakt username" ng-model="username">
				</div>
				<input type="submit" class="form-control btn btn-default" ng-click="searchClicked(username)" value="Search" />
			</div>
		</form>
	</span>

	<div class="watchlist">
		<div ng-show="watchlist" class="sort">
			<a ng-click="predicate = 'title'; reverse=!reverse">Title</a> |
			<a ng-click="predicate = 'total_duration'; reverse=!reverse">Duration</a>
		</div>
		<ul>
			<li ng-repeat="show in watchlist | orderBy:predicate:reverse">
				<div class="show-item">
					<div class="thumbnail">
						<img ng-src="{{show.image_uri}}" />
					</div>

					<div class="details">
						<h3><a ng-href="{{showUrl(show)}}" target="_blank">{{show.title}}</a></h3>
						<p><strong>Total duration: </strong>{{formattedDuration(show)}}</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>